<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ... other head elements ... -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><i class="fas fa-home"></i> <a href="/">Home</a></li>
                <li><i class="fas fa-clipboard"></i> <a href="/flashcards"
                        class="{{ 'active' if active_page == 'flashcards' else '' }}">Flashcards</a> </li>
                <li><i class="fas fa-book"></i> <a href="/stories">Stories</a></li>
            </ul>

        </aside>

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Your JavaScript scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>