{% extends "base.html" %}

{% block content %}

<style>
    .flashcard {
        border: 1px solid #007bff;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        margin-bottom: 30px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    body {
        height: 100vh;
        /* 100% of the viewport height */
        overflow-y: hidden;
        /* Disables vertical scrolling */
    }

    .practice-options {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .practice-options label {
        margin-right: 10px;
    }

    .timeframe-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /* This makes it circular */
        background-color: #e0e0e0;
        /* A soft gray color */
        color: #555;
        border: none;
        /* Remove default borders */
        outline: none;
        /* Remove focus outline */
        cursor: pointer;
        /* Indicates it's clickable */
        transition: background-color 0.3s, box-shadow 0.3s;
        /* Smooth transition */
    }

    .timeframe-btn:hover {
        background-color: #d0d0d0;
        /* Slightly darker gray on hover */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        /* A subtle shadow for depth */
    }
</style>

<div class="parent-container">
    <div id="customAlert" class="custom-alert hidden">
        Word added to difficult words!
    </div>

    <div class="toggle-container">
        <input type="radio" id="learn" name="mode" value="learn">
        <label for="learn">Learn</label>
        <input type="radio" id="practice" name="mode" value="practice" checked>
        <label for="practice">Practice</label>

    </div>

    <div class="flashcard">
        <div class="card-content">
            <p id="word-display">Right arrow key to start.</p>
            <p id="sentence-display"></p> <!-- This is the new element for displaying the sentence -->
        </div>
        <!-- Toggle button -->
        <button id="timeframe-toggle" class="timeframe-btn">All</button>
        <!-- Inside the flashcard div -->
        <div class="practice-toggle" id="practice-toggle">
            <div class="toggle-option">
                <input type="radio" id="vocabulary" name="practice-mode" value="vocabulary" checked>
                <label for="vocabulary">Vocab.</label>
            </div>
            <div class="toggle-option">
                <input type="radio" id="conjugations" name="practice-mode" value="conjugations">
                <label for="conjugations">Conj.</label>
            </div>
        </div>



    </div>

    <div class="button-container">
        <button id="flip-btn" class="control-btn">Flip</button>
        <button id="next-btn" class="control-btn secondary-btn">Next</button>
    </div>

    <canvas id="myChart" width="400" height="200"></canvas>

</div>

<!-- Include your JavaScript at the end of the body -->
<!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->


{% endblock %}